.search-bar {
    text-align: center;
    display: flex;
    justify-content: center;
}

.search-bar input[type="text"] {
    padding: 5px;
    font-size: 14px;
}

.search-bar button {
    padding: 5px 10px;
    font-size: 14px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #45a049;
}